body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    padding-left: 15px; 
    padding-right: 15px; 
    margin: 0 auto;
    outline: 2px solid tomato;
}

.header-container {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px;
}

.header-navigation {
}

.header-logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo-diff {
    color: #2E2F42;
}

.header-menu {}

.header-item {}

.header-item:hover, .header-item:focus {}

.header-link {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-link:hover, .header-link:focus {
    color: #404BBF;
}

.search {
    font-style: normal
}

.search-menu {}

.search-item {}

.search-item:hover, .search-item:focus {}

.search-info {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.search-info:hover, .search-info:focus {
    color: #404BBF;
}

.headline {
    background-color: #2E2F42;
}

.headline-container {
    padding-top: 188px;
    padding-bottom: 188px;
}

.headline-slogan {
    color: #FFFFFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;       
        width: 496px;
        margin: 0 auto 48px;
}

.headline-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

.headline-btn:hover, .headline-btn:focus {
    background-color: #404BBF;
}

.title {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-container {
    padding-top: 120px;
    padding-bottom: 209px;
}

.title-lead {
}

.title-list {}

.title-item {}

.title-subtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.title-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.caption {
    background-color: #F4F4FD;
}

.caption-lead {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-top: 120px;
        margin: 0 auto;
        margin-bottom: 72px;
}

.caption-list {}

.caption-item {
    background-color: #FFFFFF;
    padding-bottom: 120px;
}

.caption-pic {
    margin-bottom: 32px;
}

.caption-subtitle {
        color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.caption-text {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
}

.subject {}

.subject-container {
    padding-top: 31px;
    padding-bottom: 120px;
}

.subject-lead {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
        margin: 0 auto;
        margin-bottom: 72px;
}

.subject-list {}

.subject-item {
}

.subject-pic {
}

.subject-subtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
        padding-top: 32px;
        margin-bottom: 8px;
}

.subject-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
}

.footer {
    background-color:#2E2F42;
}

.footer-container {
    padding-top: 101.5px;
    padding-bottom: 100px;
}

.footer-navigation {
    margin-bottom: 17.5px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-diff {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
}